.body{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.mailpos{
    position:relative;
}
.mailicon{
    height:500px
}
.mail{
    height: 500px;
    width: 900px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.txtbox{
    position:absolute;
    background-color: white;
    top:20%;
    left:18%;
}

.toneSelection{
    height: 100px;
    width: 900px;
}
.emailtext{
    position:relative;
    height: 150px;
    width: 300px;
    background-color: white;
}
.generate{
    position:absolute;
    height: 40px;
    width: 100px;

    background-color:#C8F4F9;
    
    border-width:4px;
    border-style:solid;
    border-radius:20px;
    border-color:#7FE5F0;

    top:70%;
    right:40%;
}
.generate:hover{
    cursor: pointer;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.05);
}
.toneSelection{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.Tone{
    height: 40px;
    width: 300px;

    background-color:#C8F4F9;

    border-width:4px;
    border-style:solid;
    border-radius:20px;
    border-color:#7FE5F0;
}
.title{
    margin-bottom:30px;
    margin-top:30px;

    font-size:30px;
    font-weight:700;
}
