body{
    margin:0 0 0 0;
    font-family: "Anonymous Pro" , arial;
    background-color:white;
}
p{
    margin:0;
}
input{
    font-family: "Anonymous Pro" , arial;
    font-size: 20px;
    padding-left:10px;
}
button{
    font-family: "Anonymous Pro" , arial;
    font-size: 15px;
    font-weight:800;
}
select{
    font-family: "Anonymous Pro" , arial;
    font-size: 15px;
    font-weight:800;
}